# --- ALLOW IMPORTANT FILES (UNIGNORE) ---
!data/raw/kaggle_store_sales.csv
!data/raw/ecuador_weather_daily.csv
!data/processed/features.parquet
!data/processed/merged_sales_weather.parquet
!models/*.joblib
!reports/metrics/*.json
!reports/metrics/*.csv

# --- unIGNORE EVERYTHING ELSE LARGE ---
!data/raw/*
!data/processed/*
!models/*
!reports/metrics/*
!reports/figures/*
